openapi: 3.0.3
info:
  title: Clojars REST Artifacts Groups API
  description: A RESTful API for searching and retrieving Clojure artifact metadata, user profiles, group memberships, and release feeds from the Clojars community repository. Read endpoints are public; write/deploy operations require a deploy token.
  version: 1.0.0
  contact:
    name: Clojars Team
    email: clojars@googlegroups.com
    url: https://github.com/clojars
  license:
    name: Eclipse Public License
    url: https://github.com/clojars/clojars-web/blob/main/COPYING
  termsOfService: https://clojars.org/
servers:
- url: https://clojars.org
  description: Clojars production server
tags:
- name: Groups
  description: Operations related to Clojars artifact groups
paths:
  /api/groups/{group_name}:
    get:
      operationId: getGroupArtifacts
      summary: Get Group Artifacts
      description: Returns all artifacts belonging to the specified group.
      tags:
      - Groups
      parameters:
      - name: group_name
        in: path
        required: true
        description: The group identifier (e.g. org.clojure).
        schema:
          type: string
          example: org.clojure
      responses:
        '200':
          description: List of artifacts in the group.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArtifactSummary'
        '404':
          description: Group not found.
components:
  schemas:
    ArtifactSummary:
      type: object
      description: A summary of a Clojars artifact.
      properties:
        jar_name:
          type: string
          description: The artifact (JAR) name.
          example: clojure
        group_name:
          type: string
          description: The group identifier.
          example: org.clojure
        version:
          type: string
          description: The latest released version.
          example: 1.11.1
        description:
          type: string
          description: A short description of the artifact.
          example: The Clojure programming language
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Clojars username and a deploy token (not your password). Deploy tokens can be created at https://clojars.org/tokens. Required only for write/deploy operations.
externalDocs:
  description: Clojars API Wiki
  url: https://github.com/clojars/clojars-web/wiki/Data
